[Desktop Entry]
Name=Pannkoogihommiku planeerija
Comment=APPLICATION_DESCRIPTION
Exec=APPLICATION_LAUNCHER %f
Icon=pannkoogihommiku-planeerija
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
DESKTOP_MIMES
